<p>control-entidad works!</p>

<div *ngIf="selectedItem" class="seleccion">
    <h1>Persona seleccionada</h1>
    <h3>{{selectedItem.Apellido}} {{selectedItem.Nombre}}</h3>
        <img [src]="selectedItem.FotoPerfil" alt="">
        <p>{{selectedItem.email}}</p>
        <p>{{selectedItem.FechaNac}}</p>
        <p>{{selectedItem.Sexo}}</p>
</div>
<!-- <h1>{{selectedItem | json}}</h1> -->
<app-listado-entidad [personas]="personas" (eventSelectedItem)="onEventSelectedItem($event)"></app-listado-entidad>
